:root {
  --primaryColorBright: rgb(98, 210, 34);
  --primaryColorDark: rgb(57, 164, 59);
  --secondaryColorBright: rgb(46, 231, 237);
  --secondaryColorDark: rgb(58, 179, 197);

  --primaryGradient: linear-gradient(90deg, var(--primaryColorBright), var(--primaryColorDark));
  --secondaryGradient: linear-gradient(90deg, var(--secondaryColorBright), var(--secondaryColorDark));
}


body {
  background-color: #1f1f28;
  color:white;
  font-family: Lexend, Rubik;
  font-size: 20px;
}
.main-section {
  display: grid;
  grid-template-rows: 1fr 7fr;
  height: 100vh;
}
